@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-start-rgb: 250, 250, 250;
    --background-end-rgb: 250, 250, 250;
    --foreground: 40, 40, 40;
    --card: 255, 255, 255;
    --card-foreground: 40, 40, 40;
    --popover: 255, 255, 255;
    --popover-foreground: 40, 40, 40;
    --primary: 221 83% 53%;
    --primary-foreground: 255 255 255;
    --secondary: 242 4.8% 95.9%;
    --secondary-foreground: 40, 40, 40;
    --muted: 242 4.8% 95.9%;
    --muted-foreground: 40, 40, 40 / 0.6;
    --accent: 242 4.8% 95.9%;
    --accent-foreground: 40, 40, 40;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 250 250 250;
    --border: 242 5.9% 90%;
    --input: 242 5.9% 90%;
    --ring: 221 83% 53%;
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-color: rgb(var(--background-start-rgb));
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
